* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 100vh;
    background: rgb(154, 115, 172);
    display: flex;
    flex-direction: column;
}

.header__list {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

body {
    font-family: sans-serif;
}

.header__link {
    text-decoration: none;
    text-transform: capitalize;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
}

.header__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.header__title{
    text-transform: uppercase;
    color: aquamarine;
    margin-bottom: 15px;
    font-size: 50px;
}
.subtitle{
    width: 450px;
    color: chartreuse;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}
.home__title {
    color:rgb(20, 49, 211);
    font-size:45px;
    text-shadow: 1px 1px 5px rgb(150, 0.25, 250);
    text-align: center;
    margin-bottom:20px;
}
.home__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.home__descr {
    width:30%;
    line-height: 25px;
    font-size: 20px;
    border:2px solid rgba(207, 47, 221, 0.459);
    box-shadow: 0 0 5px rgb(150, 100, 50);
    padding:5px;
    transition: 0.5s linear;
}
.home__descr:hover {
    background-color:rgb(72, 24, 173);
    color:white;
}